.header{
    width: 100%;
    height: var(--header-height);
    padding: 0 1.775rem;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &::before {
      content: '';
     
      width: 50%;
      height: 52.5%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      background-color: var(--light-grayish-blue);
      border-bottom-left-radius: 3rem;
  }


    @include laptop {
      height: 9rem;
        padding: 0 10em;  
    }
}

.nav__logo{
    width: 24px;
    z-index: 100;

    img {
        display: block;
        width: 100%;
    }

    @include table {
       width: 32px;
    }
}
 
.main-nav{
   display: none;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
 
   &--show{
      width: 90%;
      height: 30%;
      position: absolute;
      box-shadow: -1px 1px 5px var(--dark-grayish-blue);
      top:  var(--header-height);
      left: 5%;
      z-index: 50;
      display: flex;
      
      .nav__link{
          
         &--active, 
         &:hover {
            color: var(--very-light-gray);
         }
      }
  
      background-color: white;
   }
 
   @include table {
      width: 100%;
      height: var(--header-height);
      top: 0;
      display: flex; 
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;

      background-color: transparent;
   }
}
 
.nav__list{
   z-index: 100;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   @include table {
      width: fit-content;
      position: relative;
      margin: 0;
      top: 0;
      height: var(--header-height);
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: transparent;
   }
}
 
.nav__item{
   font-family: var(--ff-title);
   text-align: center;
   width: 100%;
   // padding: 0 1rem;
   margin: .5rem;
 
   @include table {
      width: fit-content;
      padding: 0;
      margin: 0;
   }
}
 
.nav__link{
   text-transform: uppercase;
   color: var(--grayish-blue);
   padding: .5rem 3.5rem;
   display: block;
   font-size: 1.1Rem;
   font-weight: 700;
   line-height: 1;
    
   &--active, 
   &:hover {
      color: var(--red);
      border-bottom: 1px solid var(--dark-grayish-blue);

   }
 
   @include table {
      width: fit-content;
      padding: 1rem 1rem;
      font-size: .8125rem;
      line-height: 1;
      border-top: none;
   }
}
 
.btn--menu{
   display: block;
   font-size: 1em;
    
   color: var(--grayish-blue);
   padding: 1rem 3rem;
   border: 1px solid var(--grayish-blue);
   background-color: transparent;
   text-transform: uppercase;
    
   @include table{
      color: var(--grayish-blue);
      border: 1px solid var(--grayish-blue);
        
      &:hover{
         color: var(--very-light-gray);
         background-color: var(--very-dark-violet);
         border: 1px solid var(--very-dark-violet);
      }
   }
}
 